
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Movies</title>
</head>
<body>
  <nav>
    <img class="tiny-icon" src="https://i.imgur.com/huyiEO0.png">
    <!-- directs user to show all recipes created from other users (views/recipes/index)-->
    <a href="/recipes">ALL RECIPES</a>
    <% if (user) { %>
      <!-- directs users to a page that shows only the logged in user's recipes they created -->
      <a href="">MY RECIPES</a>
      <!-- directs users to a page to create a new recipe -->
      <a href="/recipes/new">ADD RECIPE</a>
      <!-- directs user to log out -->
      <a href="/logout">LOG OUT</a>
    <% } else { %>
      <!-- directs users to login -->
      <a href="/auth/google" class="login">LOG IN&nbsp;<img id="google-photo" src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
  </nav>
  <main>