.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

.tiny-icon{
  height: 10px;
  width: 10px;
  /* this controls the spoon and fork icon */
}

#google-photo{
  height: 30px;
  width: 30px;
  /* this controls the google icon */
}